<div class="container">
  <h2>{{ title }}</h2>

  <div class="row">
    <div class="pokemon-card col-md-4" *ngFor="let data of dataList" style="margin-bottom: 30px;">

      <mat-card class="text-center" [style.background-color]="randomizeColor()">
        <div class="card">
          <img class="card-img-top" src="{{data.pokemon.picture}}" alt="{{data.pokemon.name}}" />
          <div class="card-body">
            <h5 class="card-title">{{data.name_fibo}}</h5>
            <p class="card-text">{{'https://pokeapi.co/'}}</p>
          </div>
        </div>
        <mat-card-actions class="text-center">
            <button mat-button color="accent" (click)="release(data)">Release!</button>
            <button mat-button color="warn" (click)="showDialog(data, template)">Change Name!</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>

<!-- dialog -->
<ng-template #template>
  <div>
    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Change name:</mat-label>
        <input matInput placeholder="name your poki" [(ngModel)]="dataGetter.pokemon.name" value="{{dataGetter.pokemon.name}}">
        <mat-hint>Pokemon</mat-hint>
      </mat-form-field>

      <button mat-raised-button color="warn" (click)="saveIt(dataGetter)" class="pull-right">
        Update it!
      </button>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close color="acent">Close</button>
    </mat-dialog-actions>
  </div>
</ng-template>
